<%- include('templates/header') %>

<div class="container">
  <h1>Rooms</h1>

  <h2>Create a new room</h2>
  <form action="/rooms" method="post">
    <div class="form-group">
      <label for="roomNameInput">Room name</label>
      <input type="text" name="name" id="roomNameInput" class="form-control" placeholder="Enter room name">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>

  <h2>Rooms list</h2>
  <ul>
    <% rooms.forEach((room) => { %>
    <li><a href="/rooms/<%= room.id %>"><%= room.name %></a></li>
    <% }); %>
  </ul>
</div>

<%- include('templates/footer') %>
