<%- include('templates/header') %>

<div class="container">
  <h1>Room "<%= room.name %>"</h1>

  <a href="/rooms">&lt;-- Back to rooms list</a>

  <form class="chat-form">
    <input class="chat-input">
    <button class="chat-submit">Send</button>
  </form>

  <div class="chat" data-room-id="<%= room.id %>"></div>
</div>

<%- include('templates/footer') %>
